CONFIG_STATIC=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_INSTALL_NO_USR=y
CONFIG_LS=y
CONFIG_CAT=y
CONFIG_TAR=y
CONFIG_FEATURE_TAR_GZIP=y
CONFIG_GZIP=y
CONFIG_GUNZIP=y
CONFIG_SH_IS_ASH=y
CONFIG_FEATURE_SH_JOB_CONTROL=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_MOUNT=y
CONFIG_UMOUNT=y
CONFIG_FSTAB=y
CONFIG_GETTY=y
CONFIG_FEATURE_GETTY_LONG_OPTIONS=y
CONFIG_INETD=y
CONFIG_IFCONFIG=y
CONFIG_IP=y
CONFIG_PING=y
CONFIG_ROUTE=y
CONFIG_MDEV=y
CONFIG_FEATURE_MDEV_CONF=y
CONFIG_DMESG=y
CONFIG_PS=y
CONFIG_TOP=y
CONFIG_FREE=y
CONFIG_DF=y
CONFIG_DMESG=y
CONFIG_SYSLOGD=y
CONFIG_KLOGD=y
